@import './Vars.scss';
@import './Media.scss';

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: $main-color;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
